.video-container {
  padding: 1rem;
}

.videos-header {
  color: var(--text-color-2);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 0;
}

.videos-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
